@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    if (TempData["SuccessPwd"] != null)
    {
        <div class="text-success">
            <h3>Registration Successful. Password Sent!</h3>
        </div>
    }

    if (TempData["SuccessMsg"] != null)
    {
        <div class="text-success">
            <h3>Your Password is changed.</h3>
        </div>
    }

    <div class="jumbotron">
        <h1>Employee </h1>
        <h1> Management</h1>

    </div>
}